<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="mailto:{{ site.second_email }}">{{ site.second_email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          ![visitors](https://visitor-badge.glitch.me/badge?page_id=page.id&left_color=green&right_color=red)
          {%- include social.html -%}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.footer_description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
