---
layout: default
---

<div class="home">
  
  <p>Salaam! I’m a graduate student interested in particle phenomenology. Here, one can find my unofficial publications like notes I’ve taken while learning physics.</p>

 <div style="text-align: center;">
    <img src="./assets/img/cover-2.jpg" style="max-width:90%;">
    <figcaption>Here, I (person on the right) am with the research group of Professor S. S. Gousheh at SBU in the spring of 2023.</figcaption>
    </br>
    <img src="./assets/img/cover-1.jpg" style="max-width:90%;">
    <figcaption>Me along with my undergraduate classmates at SBU in spring 2018.</figcaption>
  </div>

</div>
