---
layout: default
---

<div class="home">
  
  <p>Salaam, I’m a graduate student interested in particle phenomenology. Here, one can find my unofficial publications.</p>

 <div style="text-align: center;">
    <!-- <img src="./assets/img/cover.jpg" style="max-width:90%;">
    <figcaption>Here, I am in the Vakil Mosque when I traveled to Shiraz, Iran in Winter 2022.</figcaption> -->
    <img src="./assets/img/cover-2.jpg" style="max-width:90%;">
    <figcaption>Here, I (the person on the right) am beside Prof. S. S. Gousheh’s research group at SBU in Spring 2023.</figcaption>
  </div>

</div>
