---
layout: default
---

<style>
  * {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Container for image text */
  .caption-container {
    font-size: 10px;
    text-align: center;
    background-color: #222;
    padding: 5px 5px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* 4 columns side by side */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.5;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
</style>
<div class="home">
  
  <p>{{ site.first_page }}</p>

 <div class="container">
  <div class="mySlides">
    <img src="./assets/img/cover-5.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <img src="./assets/img/cover-4.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <img src="./assets/img/cover-3.jpg" style="width:100%">
  </div>
    
  <div class="mySlides">
    <img src="./assets/img/cover-1.jpg" style="width:100%">
  </div>

  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="./assets/img/cover-5.jpg" style="width:100%" onclick="currentSlide(1)" alt="After a conference in the spring of 2024 at IPM.">
    </div>
    <div class="column">
      <img class="demo cursor" src="./assets/img/cover-4.jpg" style="width:100%" onclick="currentSlide(2)" alt="After my master's thesis oral defense in the winter of 2024.">
    </div>
    <div class="column">
      <img class="demo cursor" src="./assets/img/cover-3.jpg" style="width:100%" onclick="currentSlide(3)" alt="In Prof. S. S. Gousheh's office with his group in the spring of 2023.">
    </div>
    <div class="column">
      <img class="demo cursor" src="./assets/img/cover-1.jpg" style="width:100%" onclick="currentSlide(4)" alt="After a class in the spring of 2018 with my undergraduate classmates.">
    </div>

  </div>
</div>
  

</div>
  
<script>
 let slideIndex = 1;
 showSlides(slideIndex);
 
 function plusSlides(n) {
   showSlides(slideIndex += n);
 }
 
 function currentSlide(n) {
   showSlides(slideIndex = n);
 }
 
 
 function showSlides(n) {
   let i;
   let slides = document.getElementsByClassName("mySlides");
   let dots = document.getElementsByClassName("demo");
   let captionText = document.getElementById("caption");
   if (n > slides.length) {slideIndex = 1}
   if (n < 1) {slideIndex = slides.length}
   for (i = 0; i < slides.length; i++) {
     slides[i].style.display = "none";
   }
   for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" active", "");
   }
   slides[slideIndex-1].style.display = "block";
   dots[slideIndex-1].className += " active";
   captionText.innerHTML = dots[slideIndex-1].alt;
 }
</script>
